In [28]:
import json
import time
import pandas as pd
import requests
import matplotlib.pyplot as plt
import scipy as sp
from pprint import pprint
import quandl
from config import api_key
import csv
import os

In [29]:
# unemployment.csv path
co_uem_path = os.path.join("..", "..", "data", "project_one_data", "colorado_unemployment_rate_bls.csv")

# zillow_cleaned.csv path
zillow_path = os.path.join("output_data", "zillow_cleaned.csv")

In [42]:
# Colorado Unemployment DF
co_uemploy_df = pd.read_csv(co_uem_path)
co_uemploy_df

    Year  Jan  Feb  Mar   Apr   May   Jun  Jul  Aug  Sep  Oct  Nov  Dec
0   2010  8.3  8.5  8.6   8.7   8.7   8.7  8.8  8.8  8.9  8.9  8.9  8.9
1   2011  8.8  8.7  8.5   8.4   8.3   8.3  8.3  8.2  8.2  8.2  8.2  8.2
2   2012  8.2  8.1  8.1   8.1   8.0   8.0  7.9  7.8  7.7  7.7  7.6  7.5
3   2013  7.4  7.3  7.2   7.1   7.1   7.0  6.9  6.8  6.6  6.4  6.3  6.1
4   2014  6.0  5.8  5.6   5.4   5.2   5.0  4.8  4.6  4.5  4.4  4.3  4.3
5   2015  4.3  4.2  4.2   4.1   4.1   4.0  3.8  3.7  3.6  3.6  3.5  3.5
6   2016  3.5  3.5  3.5   3.5   3.4   3.4  3.3  3.3  3.2  3.1  3.0  2.9
7   2017  2.8  2.7  2.7   2.7   2.7   2.7  2.8  2.8  2.9  2.9  2.9  2.9
8   2018  3.0  3.0  3.0   3.1   3.1   3.2  3.2  3.2  3.3  3.3  3.3  3.2
9   2019  3.2  3.1  3.0   2.9   2.8   2.7  2.7  2.6  2.6  2.5  2.5  2.5
10  2020  2.5  2.5  5.2  12.2  10.2  10.6  7.4  6.7  6.4  NaN  NaN  NaN

In [31]:
# Zillow DF
zillow_df = pd.read_csv(zillow_path)
zillow_df

,Unnamed: 0,Indicator ID,Indicator,Region ID,Region Type,Region Name,Date,Value
0,0,SRAW,"Median Sale Price (Raw, All Homes, Weekly View)",394484,metro,"Colorado Springs, CO",2016-04-02,252000.0000
1,1,SRAW,"Median Sale Price (Raw, All Homes, Weekly View)",394484,metro,"Colorado Springs, CO",2016-04-09,253500.0000
2,2,SRAW,"Median Sale Price (Raw, All Homes, Weekly View)",394484,metro,"Colorado Springs, CO",2016-04-16,241075.0000
3,3,SRAW,"Median Sale Price (Raw, All Homes, Weekly View)",394484,metro,"Colorado Springs, CO",2016-04-23,248870.0000
4,4,SRAW,"Median Sale Price (Raw, All Homes, Weekly View)",394484,metro,"Colorado Springs, CO",2016-04-30,258000.0000
...,...,...,...,...,...,...,...,...
36529,36529,CRAM,"Share of Listings With a Price Cut (Raw, All H...",394530,metro,"Denver, CO",2020-05-31,0.1986
36530,36530,CRAM,"Share of Listings With a Price Cut (Raw, All H...",394530,metro,"Denver, CO",2020-06-30,0.2122
36531,36531,CRAM,"Share of Listings With a Price Cut (Raw, All H...",394530,metro,"Denver, CO",2020-07-31,0.2080
36532,36532,CRAM,"Share of Listings With a Price Cut (Raw, All H...",394530,metro,"Denver, CO",2020-08-31,0.1853
36533,36533,CRAM,"Share of Listings With a Price Cut (Raw, All H...",394530,metro,"Denver, CO",2020-09-30,0.1905

In [32]:
zillow_df = zillow_df.drop(columns="Unnamed: 0")

In [38]:
zillow_df

,Indicator ID,Indicator,Region ID,Region Type,Region Name,Date,Value
0,SRAW,"Median Sale Price (Raw, All Homes, Weekly View)",394484,metro,"Colorado Springs, CO",2016-04-02,252000.0000
1,SRAW,"Median Sale Price (Raw, All Homes, Weekly View)",394484,metro,"Colorado Springs, CO",2016-04-09,253500.0000
2,SRAW,"Median Sale Price (Raw, All Homes, Weekly View)",394484,metro,"Colorado Springs, CO",2016-04-16,241075.0000
3,SRAW,"Median Sale Price (Raw, All Homes, Weekly View)",394484,metro,"Colorado Springs, CO",2016-04-23,248870.0000
4,SRAW,"Median Sale Price (Raw, All Homes, Weekly View)",394484,metro,"Colorado Springs, CO",2016-04-30,258000.0000
...,...,...,...,...,...,...,...
36529,CRAM,"Share of Listings With a Price Cut (Raw, All H...",394530,metro,"Denver, CO",2020-05-31,0.1986
36530,CRAM,"Share of Listings With a Price Cut (Raw, All H...",394530,metro,"Denver, CO",2020-06-30,0.2122
36531,CRAM,"Share of Listings With a Price Cut (Raw, All H...",394530,metro,"Denver, CO",2020-07-31,0.2080
36532,CRAM,"Share of Listings With a Price Cut (Raw, All H...",394530,metro,"Denver, CO",2020-08-31,0.1853
36533,CRAM,"Share of Listings With a Price Cut (Raw, All H...",394530,metro,"Denver, CO",2020-09-30,0.1905

In [40]:
test = zillow_df["Date"].str.split(pat="-", expand=True)
test

          0   1   2
0      2016  04  02
1      2016  04  09
2      2016  04  16
3      2016  04  23
4      2016  04  30
...     ...  ..  ..
36529  2020  05  31
36530  2020  06  30
36531  2020  07  31
36532  2020  08  31
36533  2020  09  30

[36534 rows x 3 columns]

In [45]:
zillow_df["Year"] = test[0]
zillow_df["Month"] = test[1]

In [46]:
zillow_df

,Indicator ID,Indicator,Region ID,Region Type,Region Name,Date,Value,Year,Month
0,SRAW,"Median Sale Price (Raw, All Homes, Weekly View)",394484,metro,"Colorado Springs, CO",2016-04-02,252000.0000,2016,04
1,SRAW,"Median Sale Price (Raw, All Homes, Weekly View)",394484,metro,"Colorado Springs, CO",2016-04-09,253500.0000,2016,04
2,SRAW,"Median Sale Price (Raw, All Homes, Weekly View)",394484,metro,"Colorado Springs, CO",2016-04-16,241075.0000,2016,04
3,SRAW,"Median Sale Price (Raw, All Homes, Weekly View)",394484,metro,"Colorado Springs, CO",2016-04-23,248870.0000,2016,04
4,SRAW,"Median Sale Price (Raw, All Homes, Weekly View)",394484,metro,"Colorado Springs, CO",2016-04-30,258000.0000,2016,04
...,...,...,...,...,...,...,...,...,...
36529,CRAM,"Share of Listings With a Price Cut (Raw, All H...",394530,metro,"Denver, CO",2020-05-31,0.1986,2020,05
36530,CRAM,"Share of Listings With a Price Cut (Raw, All H...",394530,metro,"Denver, CO",2020-06-30,0.2122,2020,06
36531,CRAM,"Share of Listings With a Price Cut (Raw, All H...",394530,metro,"Denver, CO",2020-07-31,0.2080,2020,07
36532,CRAM,"Share of Listings With a Price Cut (Raw, All H...",394530,metro,"Denver, CO",2020-08-31,0.1853,2020,08
36533,CRAM,"Share of Listings With a Price Cut (Raw, All H...",394530,metro,"Denver, CO",2020-09-30,0.1905,2020,09